/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 0 0;
}

.form input {
  padding: 0.6rem 0.3rem 0.6rem 0.5rem;
  font-size: 18px;
  width: 24rem;
  outline: none;
  border: none;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0px 1px 5px black;
  font-family: cursive;
}

.form input::placeholder {
  color: rgb(100, 98, 98);
  font-family: cursive;
}

.list {
  padding: 3rem 0;
}

.list-item {
  width: 24rem;
  color: #fff;
  margin: 0.3rem 0;
  border-radius: 0.4rem;
  list-style-type: none;
  font-family: "Nunito", serif;
  background-color: teal;
  padding: 0.6rem 0.3rem 0.6rem 0.5rem;
  position: relative;
}

.fa-trash {
  position: absolute;
  top: 50%;
  right: 1rem;
  color: #111;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-pen {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2.5rem;
  color: #e6b325;
  transform: translateY(-50%);
}

.parent {
  position: relative;
}

.error-text {
  color: red;
  font-family: serif;
  position: absolute;
  top: 3.2rem;
  opacity: 0;
  transition: all 900ms;
  left: 0.1rem;
}

.theme-btn {
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: teal;
  color: #ffffff;
  border-radius: 0.2rem;
  margin: 1.3rem 0 0 1.3rem;
  border: none;
  text-align: center;
  font-family: serif;
  font-size: 17px;
  font-weight: 500;
}

.theme-btn:hover{
    color: wheat;
}

.black {
  background-color: #1f1f1f;
}
/* /Style */
